<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.CurtainApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Curtain"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Curtain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom scheme handling for curtain:// URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="curtain"
                    android:host="open" />
            </intent-filter>

            <!-- Intent URL format handling for intent:// links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="intent" />
            </intent-filter>

            <!-- Web URLs handling with autoVerify (App Links) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Support for standard http/https links -->
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- You must specify at least one host for http/https schemes -->
                <data android:host="curtain.proteo.info" /> <!-- Replace with your actual domain -->
                <!-- Optional path pattern if you only want to match certain paths -->
                <data android:pathPattern="/curtain/open.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataFilterListActivity"
            android:exported="true"
            android:theme="@style/Theme.Curtain" />
    </application>

</manifest>